<body>
  <main class="container">

<h1>Hello, {{ userName }}!</h1>

<p>Here are your hamsters:</p>

<div>
  <label>Filter</label>
  <input type="text" [formControl]="filterField" />
</div>

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Name</th>
      <th>Treats left</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hamster of hamsters | async; even as e" [class.zebra]="e">
      <td>{{ hamster.name }}</td>
      <td>{{ hamster.treats }} <button (click)="giveTreat(hamster.name)">Give treat</button></td>
      <td>{{ hamster.price }} €</td>
    </tr>
  </tbody>
</table>

<input type="text" [(ngModel)]="newHamsterName" />
<input type="text" [(ngModel)]="newHamsterTreats" />
<button (click)="addHamster()">Add Hamster</button>

<button (click)="collect()">Collect all</button>
  </main>
</body>
